/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.features {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 40px;
}

.cover-image img {
  max-width: 100%;
  height: auto;
}

.project-info h1 {
  font-size: 36px;
  margin: 20px 0;
}

.project-info .description {
  font-size: 20px;
  color: #666;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  margin-top: 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}

/* Styles for the Features section */
#features {
  margin: 40px 0;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.feature img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  text-align: center;
  max-width: 400px;
  color: #666;
}

/* Styles for the About section */
#about {
  margin: 40px 0;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-content p {
  margin-bottom: 20px;
}

.about-content .btn {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}

.team-members {
  margin-top: 40px;
}

.team-members h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.team-members ul {
  list-style: none;
}

.team-members li {
  margin-bottom: 10px;
}

.team-members a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.team-members a:hover {
  color: #555;
}